//text colors
$paleViolet: hsl(276, 100%, 81%); //Pale Violet (sub-heading at the top of the app UI)
$moderateViolet: hsl(276, 55%, 52%); // Moderate Violet (chat on the left)
$desaturedDarkViolet: hsl(271, 15%, 43%); //Desaturated Dark Violet (chat on the right) 
$grayishBlue: hsl(206, 6%, 79%); //Grayish Blue (placeholder text)
$veryDarkDesturatedVioled: hsl(271, 36%, 24%); // Very Dark Desaturated Violet (main heading): 
$darkGrayishViolet: hsl(270, 7%, 64%); // Dark Grayish Violet (paragraph)

//gradient colors
$lightMagenta: hsl(293, 100%, 63%);
$lightViolet: hsl(264, 100%, 61%);

//Secondary
$white: hsl(0, 0%, 100%);
$lightGrayishViolet : hsl(270, 20%, 96%); //app background
$veryDarkDesaturatedViolet : hsl(271, 36%, 24%); //submit button background
$veryLightMagenta : hsl(289, 100%, 72%); //radio button outline